<!DOCTYPE html>
<html>

<head>
  {% load static %}
  {% include 'pages/mouse_effect.html' %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oooh+Baby">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Caveat">
  <link rel="stylesheet" href="{% static 'style.css' %}">
</head>

<body>
  <div class="topnav">
    <a class="active" href="#home">M.S.Genualdi</a>
    <a href="#projects">About Me</a>
    <a href="#contact">Projects</a>
    <a href="#about">Contact</a>
  </div>
  <header>

    <div id="main-header">
      <h1>Megan Genualdi</h1>
      <h4>Full-stack Developer</h4>
    </div>
  </header>
  <br>
  <div class="my-container">
    <div id="about-me">
      <div class="content-title">
        <h3>About Me
          <hr>
        </h3>
      </div>
      Hello! Firstly, thank you for visiting my portfolio. I hope you enjoy it, I had a lot of fun putting it together.
      My name is Megan Genualdi and I am a Navy veteran that discovered her passion for coding and is now a fullstack
      develope. I love the feeling of creating something from the ground up and solving problems and challenges
      presented to me.
    </div>
    <br>
    <div id="languages">
      <div class="content-title">
        <h3>Languages & Technologies
          <hr>
        </h3>
      </div>
      <img class="image"
        src="https://user-images.githubusercontent.com/86818646/153720339-74ff4128-64bc-4dfa-9190-620ae71e235a.png"
        alt="">
      <img class="image"
        src="https://user-images.githubusercontent.com/86818646/153720357-b38cd6d7-d929-48a2-9a7d-5bcf108425dd.png"
        alt="">
      <img class="image"
        src="https://user-images.githubusercontent.com/86818646/153720316-737e18ee-b178-4555-876c-8456bc10bae5.png"
        alt="">
      <img class="image"
        src="https://user-images.githubusercontent.com/86818646/153720326-2488d680-f1e0-4599-8a02-98766522a743.png"
        alt="">
      <img class="image"
        src="https://user-images.githubusercontent.com/86818646/153720353-44e4e1b8-6266-4fe6-9849-63927deacfc1.png"
        alt="">
        <img class="image"
        src="https://user-images.githubusercontent.com/86818646/153720302-eadc7984-d6f2-4084-860b-fb13acd41925.png"
        alt="">
        <img class="image"
        src="https://user-images.githubusercontent.com/86818646/157768280-eac23dc5-a8bd-482c-b7fe-c230e743aa87.png"
        alt="">
    </div>
  </div>
  <br>
  <div class="my-container">
    <div class="projects">
      <h3 class="content-title">Project One
        <hr>
      </h3>
    </div>
    <br>
    <div class="projects">
      <h3 class="content-title">Project Two
        <hr>
      </h3>
    </div>
    <br>
    <div class="projects">
      <h3 class="content-title">Project Three
        <hr>
      </h3>
    </div>
  </div>
  <div class="my-container">
    <h3 class="content-title">Connect with me!</h3>
    <br>
    <p>Github</p>
    <br>
    <p>LinkedIn</p>
    <br>
    <p>Email</p>
  </div>

</body>

</html>